<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3 class="text-center my-4">Search for Weather:</h3>
      <form [formGroup]="weatherSearchForm" (ngSubmit) = "getWeatherReport(weatherSearchForm.value)">
        <div class="form-group">
          <input
            class="form-control"
            type="text"
            id="weatherLocation"
            aria-describedby="weatherLocation"
            placeholder="Please input a Location"
            formControlName = "location"
          />
         </div>
         <div class="text-center"> 
          <button type="submit" class="btn btn-secondary btn-md">
            Search for the weather</button>
         </div>
       </form> 
       <div class="spinner-border" *ngIf = "loading && !errMsg">
      </div>
    </div>
    <div class="col-md-6">
      <h3 class="text-center my-4">Weather Details For: {{this.weatherDetails?.title}}</h3>
      <p class="text-center">Current weather conditions: {{this.weatherDetails?.consolidated_weather[0].weather_state_name}}</p>
      <p class="text-center">Maximum Temparature : {{this.weatherDetails?.consolidated_weather[0].max_temp}}</p>
      <p class="text-center">Maximum Temparature: {{this.weatherDetails?.consolidated_weather[0].min_temp}}</p>
      <p class="text-center">Humidity : {{this.weatherDetails?.consolidated_weather[0].humidity}}</p>
      <p class="text-center">Weather Details For Dated : {{this.weatherDetails?.consolidated_weather[0].applicable_date}}</p>
      <p class="text-center">Predictability : {{this.weatherDetails?.consolidated_weather[0].predictability}}</p>
    </div>
  </div>
</div>

<span style="background-color: red;">{{errMsg}}</span>

<div>
  <h6>Note :</h6>
<ul>
  <li>As i din't got any free API's for fetching more than 10 cities for predicting weather report.</li>
  <li>So here I'm going with an API which i found in google, which will take only below city name.</li>
  <li>London & san Francisco</li>
</ul>  
</div>
<router-outlet></router-outlet>